@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.layout {
    /* width: min(1000pxm 100%);
    margin: 0 auto;
    columns: 3 300px;
    column-gap: 1em; */
    margin: 1em;
    columns: 3 300px;
    column-gap: 1em;
}

img{
    border-color: red;
    border-radius: 2px solid;
    width: 100%;
    margin-bottom: 1em;
    
}
